body {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=""] {
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: #ccc;
  color: #333;
  text-align: center;
}
